<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QGasCalculation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <QGasCalculation.Properties.Settings>
            <setting name="SettingName" serializeAs="String">
                <value>Дебет газа</value>
            </setting>
            <setting name="pk" serializeAs="String">
                <value>P шлейфа</value>
            </setting>
            <setting name="pn" serializeAs="String">
                <value>P буферное</value>
            </setting>
            <setting name="T" serializeAs="String">
                <value>T буферное</value>
            </setting>
            <setting name="D" serializeAs="String">
                <value>D штуцера</value>
            </setting>
        </QGasCalculation.Properties.Settings>
    </applicationSettings>
</configuration>